p, a, h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.05rem;
}

img {
  height: 6rem;
}

.header {
  text-transform: uppercase;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  display: block;
  z-index: 100;
  width: 100%;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid lightgray;
}

nav h1 {
  margin: 0;
  font-size: 3rem;
  line-height: 5rem;
}

nav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  line-height: 5rem;
}

nav .title {
  float: left;
}

.btn-row {
  text-align: center;
}

.nav-links {
  float: right;
  margin-right: 15%;
}

.nav-links li {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  float: left;
}

.spacer {
  height: 10rem;
}

.burger-area {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
  background-color: #F7F7E6;
  text-align: center;
}

.burger-area img {
  margin-right: -10px;
  margin-top: 10px
}

.burger-area img.highlighted {
  margin-top: 0;
  margin-bottom: 10px;
}

.regex-char {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 3rem;
}

.order-image, .order-ingredient {
  display: inline-block;
}

.order-image img {
  margin-left: 3rem;
  margin-bottom: -2rem;
  transform: rotate(-90deg)
}

.lessons {
  padding-top: 50px;
}

.lesson {
  min-height: 300px;
}

.card-wrapper {
  padding-top: 5rem;
  display: table;
  height: 100vh;
  width: 100%;
}

.card-wrapper-cell {
  display: table-cell;
  vertical-align: middle;
}

.card {
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  padding: 15px;
}

.lesson-card {
  font-size: 2rem;
}

.lead {
  font-size: 1.8rem;
  color: grey;
  font-style: italic;
}

.user-big {
  font-size: 25rem;
}

.intro {
  text-align: center;
  display: table;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin-bottom: 10rem;
}

.intro-text {
  display: table-cell;
  vertical-align: middle;
}

.intro-user {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.burger-card {
  position: relative;
  text-align: center;
}

.horizontal {
  position: relative;
  height: 10px;
}

.horizontal img {
  transform: rotate(-90deg);
}
